@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --blue950: hsl(213, 96%, 18%);
  --purple600: hsl(243, 100%, 62%);
  --blue300: hsl(228, 100%, 84%);
  --blue200: hsl(206, 94%, 87%);
  --Red500: hsl(354, 84%, 57%);

  --grey500: hsl(231, 11%, 63%);
  --purple200: hsl(229, 24%, 87%);
  --blue100: hsl(218, 100%, 97%);
  --blue50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);

  --size: 16px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--blue100);
  max-width: 1400px;
  min-width: 375px;
  height: 100vh;
}

.form-container {
  height: 100%;
  width: 100%;
}

.header {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  position: relative;
  height: calc(100% / 2)
}

.steps {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
}

.step-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  height: 100%;
}

.step-circle {
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  height: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: var(--size);
  font-weight: 700;
}

.step-info {
  display: none;
}
.card{
  position: absolute;
  top: 4rem;
  background-color: var(--white);
  width: calc(100% - 2rem);
  margin:1rem 1rem 0 1rem;
}